.dashboardBoxWrapper .dashboardBox{width: 48%;height: 170px;border-radius: 10px; overflow: hidden;padding: 20px; display: flex; flex-direction: column; 
    justify-content: space-around;text-align: left !important; position:relative ; color: #fff; text-transform: capitalize !important; }
.dashboardBoxWrapper .dashboardBox .col1 h4{font-size: 16px; font-weight: 600;}
.dashboardBoxWrapper .dashboardBox .col1 span{font-size: 35px !important; font-weight: bold; line-height: 45px;}
.dashboardBoxWrapper .dashboardBox .icon{display: flex; align-items: center; justify-content: center; width: 50px; height: 50px;
     border-radius: 10px; background-image: linear-gradient(to bottom right, rgba(0,0,0,0.0), rgba(0,0,0,0.2));}
.dashboardBoxWrapper .dashboardBox .icon svg{font-size: 36px; opacity: 0.4; color: #fff;}

.dashboardBoxWrapper .dashboardBox .toggleIcon{font-size: 22px; color:rgba(0,0,0,0.5); cursor: pointer; min-width: 40px !important; width: 40px !important; 
    height: 40px !important; border-radius: 50% !important;}

    .dashboardBoxWrapper .dashboardBox .chart {opacity: 0.050; position: absolute;bottom: 20px;left: 20px;;}
    .dashboardBoxWrapper .dashboardBox .chart svg{font-size: 110px; color: #000;}
    .dashboardBoxWrapper .dashboardBox .bottomEle{position: relative; top: 15px;;}
    .dashboardBoxWrapper .dashboardBox .MuiList-root svg{color:#000 !important; font-size: 17px !important; margin-right: 10px !important;}
    .dropdown_menu .MuiButtonBase-root svg{margin-right: 10px !important;}