
.signUpSection{background: #f1f1f1 !important; padding: 0px 0px;height: auto !important;}
.signUpSection .loginBox{background: #e4e4e4 !important; position: relative; z-index: 100; width: 100% !important; height: 100vh; padding: 25px 5px !important;}
.signUpSection .loginBox .wrapper{border: 0px !important; background: transparent !important; padding-top: 10px !important;}

.signUpSection .part1{padding-left: 100px; padding-right: 100px;}
.signUpSection .part1 h1{font-size: 50px; font-weight: 800;}
.signUpSection .part1 p{font-size: 18px; font-weight: 500;}