@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{margin: 0px;padding: 0px;}
body{font-family: "Open Sans",sans-serif !important; background: #ebe9e9;overflow-x: hidden;}
body.dark{background: #071739 !important;}

::-webkit-scrollbar{width: 5px !important; height: 5px !important;}
::-webkit-scrollbar-thumb{background: #0858f7 !important;}
::-webkit-scrollbar-track{background: transparent !important;}
.btn-blue{background: #0858f7 !important; font-size: 15px !important; font-weight: 500; color: #fff !important; text-transform: capitalize !important;
     border-radius: 8px !important;}

h1,h2,h3,h4,h5,h6{color:#403e57;}


.btn-lg{padding: 5px 25px !important;}
.btn-big{padding: 10px 25px !important;font-size: 16px !important;}
.btn-big svg{font-size: 25px !important; margin-left: 7px;}

.btn-round{border-radius: 30px !important;}
.full{max-width: 100% !important; flex: 0 0 100% !important; width: 100% !important;}
.link{color:#5e5d72; font-weight: 600;}
.link:hover{color:#0858f7 !important; text-decoration: none;}
.link.color{color:#0858f7 !important; text-decoration: none;}

.main .sidebarWrapper{width: 20%;flex: 0 0 20%; transition: all 0.3s ease-in-out;}

h1,h2,h3,h4,h5,h6, p{color:#403e57}
h4{line-height: 32px;}


body.dark .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root, 
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4, 
body.dark h5, 
body.dark h6,
body.dark p, body.dark .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon, body.dark .css-bpeome-MuiSvgIcon-root-MuiSelect-icon{color: rgba(255, 255, 255, 0.8) !important;}
body.dark .css-1d3z3hw-MuiOutlinedInput-notchedOutline{border-color: rgba(255, 255, 255, 0.3) !important;}
p{font-weight: 300; font-size: 15px; line-height: 25px;}

.table-responsive::-webkit-scrollbar-thumb{background: #ccc !important;}
body.dark .table-responsive::-webkit-scrollbar-thumb{background:rgba(255, 255, 255, 0.3) !important;}
.slick-slide{outline: none !important;}

body.light p{font-weight: 400 !important;}
body.dark .css-hmd0fc-MuiRating-root{color: #faaf00 !important;}